// Parameters for CloudOS
// To use add only the flag:
// --config conf/cloudos_jurkat_merged_bam.config

params {
    // For execution without access to awscli feel free to use
    // data_source = "https://sheynkman-lab-lifebit.s3-eu-west-1.amazonaws.com"
    // How to wget the data: By reconstructing the path, example:
    // wget https://sheynkman-lab-lifebit.s3-eu-west-1.amazonaws.com/Reference/Human_Hexamer.tsv

    data_source = "s3://sheynkman-lab-lifebit"
    gencode_gtf = "${params.data_source}/Reference/gencode.v35.annotation.canonical.gtf"
    gencode_transcript_fasta = "${params.data_source}/Reference/gencode.v35.pc_transcripts.fa"
    gencode_translation_fasta = "${params.data_source}/Reference/gencode.v35.pc_translations.fa"
    gencode_fasta = "${params.data_source}/Reference/GRCh38.primary_assembly.genome.canonical.fa"
    sample_ccs = "${params.data_source}/Sample-Data/JURKAT/jurkat_merged.ccs.bam"
    primers_fasta = "${params.data_source}/Reference/NEB_primers.fasta"
    hexamer = "${params.data_source}/Reference/Human_Hexamer.tsv"
    logit_model = "${params.data_source}/Reference/Human_logitModel.RData"
    sample_kallisto_tpm = "${params.data_source}/Sample-Data/JURKAT/jurkat_gene_kallisto.tsv"
    normalized_ribo_kallisto = "${params.data_source}/Sample-Data/JURKAT/kallist_table_rdeplete_jurkat.tsv"
    fastq_read_1 = "${params.data_source}/Sample-Data/JURKAT/illumina_data/jurkat_r1.fastq.gz"
    fastq_read_2 = "${params.data_source}/Sample-Data/JURKAT/illumina_data/jurkat_r2.fastq.gz"
    mass_spec = "${params.data_source}/Sample-Data/JURKAT/mass_spec"
    genome_fasta = "${params.data_source}/Reference/GRCh38.primary_assembly.genome.canonical.fa"
    uniprot_protein_fasta = "${params.data_source}/Reference/uniprot_reviewed_canonical_and_isoform.fasta"
    star_genome_dir = "${params.data_source}/Reference/star_index/star_genome"
    rescue_resolve_toml = "${params.data_source}/Reference/Task1SearchTaskconfig_orf.toml"
    max_cpus = 32
    name = "jurkat"
    protein_coding_only = true
    lower_cpm = 3
    lower_kb = 1
    upper_kb = 4
    sqanti_classification = "${params.data_source}/Sample-Data/JURKAT/SQANTI/jurkat_classification.txt"
    sqanti_fasta = "${params.data_source}/Sample-Data/JURKAT/SQANTI/jurkat_corrected.fasta"
    sqanti_gtf = "${params.data_source}/Sample-Data/JURKAT/SQANTI/jurkat_corrected.gtf"
}
